<!doctype html>

<html>
  <head>
    <link rel="stylesheet" href="lib/style.css">
  </head>

  <body>
    <div id="myApp">
      <h1>{{message}}</h1>
      <img src="juniper.jpg">
      <p>My name is Juniper and I like frisbee.</p> 
      <strong>What do you like?</strong>
      <input v-model="hobby" type="text">
      <p v-if="hobby==='frisbee'"></p>
      <p v-else>I love {{hobby}}, too!</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="lib/script.js"></script>
  </body>
</html>
