body {
    background: peru;
    color: aliceblue;
    padding-left: 5rem;
    font-family: 'avenir', sans-serif;
   }
  
   h1 {
     font-size: 6em;
   }
  
   ol {
    padding-left: 7rem;
   }
  
   li {
     font-size: 3em;
   }