body {
    background: #93E1D8; 
}

table, thead, th, tbody, tr, td {
    margin: 0 auto;
    text-align: center;
    font-family: 'Calistoga', cursive;
    padding: 1rem;
}

h1 {
    font-family: 'Monoton', cursive;
    font-size: 4em;
    text-align: center;
    color: #fff;
}

th {
    font-size: 2em;
    background-color: white;
    color: #EEC643; 
}

td {
    font-size: 1.5em;
}

img {
    max-width: 200px;
}

tr:hover {
    opacity: 70%;
    background: #ddfff7;
    color: black;
}

.buy {
    background: white;
    color: #114B5F;
    }

.keep {
    background: #11485F;
    color: white;
}