body {
    background: darkgray;
}

table, thead, th, tbody, tr, td {
    margin: 0 auto;
    text-align: center;
    font-family: 'Calistoga', cursive;
    padding: 1rem;
}

h1 {
    font-family: 'Monoton', cursive;
    font-size: 4em;
    text-align: center;
    color: white;
}

th {
    font-size: 2em;
    background-color: yellow;
    
}

td {
    font-size: 1.5em;
}

img {
    max-width: 200px;
}

a {
    text-decoration: underline wavy;
    color: black;
}

tr:hover {
    opacity: 70%;
    background: yellow;
    color: black;
}


.buy {
    background: black;
    color: white;
    }

.keep {
    background:white;
    color: black;
}