body {
    background: #93E1D8; 
}

table, thead, th, tbody, tr, td {
    margin: 0 auto;
    text-align: center;
    font-family: 'Calistoga', cursive;
    padding: 1rem;
}

td {
    width: 200px;
}

h1 {
    font-family: 'Monoton', cursive;
    font-size: 4em;
    text-align: center;
    color: #114B5F;
}

th {
    font-size: 2em;
    background-color: white;
    color: #EEC643; 
}

td {
    font-size: 1.5em;
}

img {
    max-width: 200px;
}

tr:hover {
    
    background: #EEC643;
    color: black;
}

.buy {
    background: white;
    color: #114B5F;
    }

.keep, .newKeep {
    background: #11485F;
    color: white;
}

.new-console-form fieldset {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #11485F;
    border: none;
}

.new-console-form div {
    margin: 10px 0;
    width: 120px;
   color: white;
}

legend {
    background: white;
    color:#EEC643;
    font-family: 'Calistoga', cursive;
    padding: 10px;
    border-radius: 10px;
}
.new-console-form div label {
    max-width: 120px;
}

.new-console-form input {
    max-width: 120px;
    display:block;
    border: none;
    margin: 5px;
    border-radius: 5px;
}